body{
    background-image: url(https://cdn.dribbble.com/users/1260892/screenshots/6529031/planets.gif);
    background-size:cover;
    background-attachment: fixed; 
      background-repeat: no-repeat
}